#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    padding: 10px;
}

#calendar .day {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    cursor: pointer;
    background-color: #f9f9f9;
    color: green;
}

#calendar .day:hover {
    background-color: #e9e9e9;
}

#calendar .header div {
    color: blue;
    padding: 5px;
}

#calendar .header {
    font-weight: bold;
    text-align: center;
    background-color: #f0f0f0;
}

#calendar .day.today {
    background-color: #ffcccb;
    color: red;
    font-weight: bold;
}