.custom-position {
    margin-block-start: -6cm;
}

input {
    border-color: #ccc;
}

input.valid {
    border-color: green;
}

input.invalid {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 0.875rem;
    margin-block-start: 0.25rem;
    display: block;
}

#toast-container {
    position: fixed;
    inset-block-start: 20px;
    inset-inline-end: 20px;
    z-index: 1000;
}

#toast-container div {
    padding: 10px 20px;
    border-radius: 5px;
    margin-block-end: 10px;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 0.5s ease;
}